# --- Build Output ---
/dist
/tmp
/out-tsc
/bazel-out

# --- Dependency Folders ---
/node_modules

# --- IDEs and Editors ---
.idea/
.project
.classpath
.c9/
.settings/
*.swp
*.bak
*.local

# --- Visual Studio Code ---
.vscode/*
.history/*

# --- Angular Specific ---
/.angular/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- System Files ---
.DS_Store
Thumbs.db