<div class="container">
	<header>
		<h1>Inventario de Artículos</h1>

		<div class="search-container">
			<input type="text" [(ngModel)]="searchTerm" (input)="filterItems()" placeholder="🔍 Buscar artículo">
		</div>
	</header>

	<div class="grid" *ngIf="filteredItems.length > 0; else noData">
		<div class="card" *ngFor="let item of filteredItems">
			<div class="card-image">
				<img [src]="item.imgUrl || 'https:via.placeholder.com/150'" [alt]="item.name">
			</div>

			<div class="card-content">
				<h3>{{ item.name }}</h3>
				<p class="stock" [ngClass]="{'low-stock': item.stock < 5}">
					Stock: <strong>{{ item.stock }}</strong> unidades
				</p>
			</div>

			<div class="card-actions">
				<button class="btn-edit" (click)="openEditModal(item)">Editar</button>
				<button class="btn-delete" (click)="deleteItem(item.id)">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<button class="fab" (click)="openModal()">+</button>

<div class="modal-overlay" *ngIf="showModal">
	<div class="modal-content">
		<h2>{{ isEditing ? 'Editar Artículo' : 'Nuevo Artículo' }}</h2>

		<div class="form-group">
			<label for="name">Nombre</label>
			<input type="text" name="name" [(ngModel)]="newItem.name" placeholder="Ej. Monitor 4K" />
		</div>

		<div class="form-group">
			<label for="img">URL imagen:</label>
			<input type="text" name="img" [(ngModel)]="newItem.imgUrl" placeholder="https://..." />
		</div>

		<div class="form-group">
			<label for="stock">Stock:</label>
			<input type="number" name="stock" [(ngModel)]="newItem.stock" />
		</div>

		<div class="modal-actions">
			<button (click)="closeModal()" class="btn-cancel">Cancelar</button>
			<button (click)="saveItem()" class="btn-save">Guardar</button>
		</div>
	</div>
</div>

<ng-template #noData>
	<div class="loader">
		<p>Cargando datos</p>
	</div>
</ng-template>