<div class="container">
	@if (errorMessage()) {
		<div class="error-banner">
			{{ errorMessage() }}
			<button (click)="loadItems()">Reintentar</button>
		</div>
	}
	<header>
		<h1>Inventario de Artículos</h1>

		<div class="search-container">
			<input type="text" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" placeholder="🔍 Buscar artículo">
		</div>
	</header>

	@if (isLoading()) {
		<div class="loader-wrapper">
			<div class="spinner"></div>
			<p>Cargando artículos...</p>
		</div>
	} @else {
		<div class="grid">
			@for (item of filteredItems(); track item.id) {
				<div class="card">
					<div class="card-image">
						<img [src]="item.imgUrl || 'https:via.placeholder.com/150'" [alt]="item.name">
					</div>
					
					<div class="card-content">
						<h3>{{ item.name }}</h3>
						<p class="stock" [ngClass]="{'low-stock': item.stock < 5}">
							Stock: <strong>{{ item.stock }}</strong> unidades
						</p>
					</div>
					
					<div class="card-actions">
						<button class="btn-edit" (click)="openEditModal(item)">Editar</button>
						<button class="btn-delete" (click)="deleteItem(item.id)">Eliminar</button>
					</div>
				</div>
			} @empty {
				<p>No se encontraron productos</p>
			}
		</div>
	}
</div>

<button class="fab" (click)="openModal()">+</button>

<div class="modal-overlay" *ngIf="showModal">
	<div class="modal-content">
		<h2>{{ isEditing ? 'Editar Artículo' : 'Nuevo Artículo' }}</h2>

		<form #itemForm="ngForm">
			<div class="form-group">
				<label for="name">Nombre:</label>
				<input required #nameModel="ngModel" type="text" name="name" [(ngModel)]="newItem.name" placeholder="Ej. Monitor 4K" [class.is-invalid]="nameModel.invalid && nameModel.touched" />
				@if (nameModel.invalid && nameModel.touched) {
					<small class="error-text">El nombre es obligatorio.</small>
				}
			</div>

			<div class="form-group">
				<label for="img">URL imagen:</label>
				<input required #imgModel="ngModel" type="text" name="img" [(ngModel)]="newItem.imgUrl" placeholder="https://..." [class.is-invalid]="imgModel.invalid && imgModel.touched" />
				@if (imgModel.invalid && imgModel.touched) {
					<small class="error-text">La URL de imagen es obligatoria.</small>
				}
			</div>

			<div class="form-group">
				<label for="stock">Stock:</label>
				<input required min="0" #stockModel="ngModel" type="number" name="stock" [(ngModel)]="newItem.stock" [class.is-invalid]="stockModel.invalid && stockModel.touched" />
				@if (stockModel.invalid && stockModel.touched) {
					<small class="error-text">El stock es obligatorio</small>
				}
			</div>

			<div class="modal-actions">
				<button (click)="closeModal()" class="btn-cancel">Cancelar</button>
				<button type="submit" (click)="saveItem()" class="btn-save" [disabled]="itemForm.invalid">Guardar</button>
			</div>
		</form>
	</div>
</div>